<!-- Load static needed to make sure django knows this is a template -->
{% load static %}

<!DOCTYPE html>
<html>
  <!-- Metadata -->
  <head>
    <meta charset="utf-8" />
    <title>Polls App</title>
    <!-- Defining some Cascading Style Sheets (CSS) -->
    <!-- Namespacing here: static looks in the static folders of all of the django apps we've created
     polls/ is the folder that we've defined in our static folder in polls 
    /static/polls/index.css 
  
    Explanation found here: https://docs.djangoproject.com/en/3.1/intro/tutorial06/ -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/base.css' %}"
    />
  </head>
  <body>
    <h1>Your Current Polls:</h1>
    <div>
      <!-- Template variable here: in views.index we have defined latest_question_list in the 
      context, here we are seeing if it is defined! -->
      {% if latest_question_list %}
      <ul>
        <!-- For question in latest_question_list will loop through the latest_question_list 
        and define question as the elements in the list we are iterating over. -->
        {% for question in latest_question_list %}
        <li>
          <!-- namespacing here: polls(from urls.py app_name):detail(from the name we defined in the url that routes to views.detail) 
          question.id being the variable we pass into the url. If we had a question with the id of 100 it would 
          create the url: /polls/100/ -->
          <a href="{% url 'polls:detail' question.id %}"
            >{{ question.question_text }}</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <!-- If latest_question_list isn't defined no polls are available! -->
      <p class="warningMessage">No polls are available.</p>
      {% endif %}

      <div class="input-group">
        <!-- Creating a form with the action being /polls/create, this means when 
        we hit submit we are routing to /polls/create - this is the url that executes the 
        create view! -->
        <form class="form" action="/polls/create" method="post">
          <h3>Create New Poll</h3>
          <!-- csrf_token needed here for security purposes! -->
          {% csrf_token %}
          <div class="formWrapper">
            <div>
              <!-- The value from the input tag here will be what is sent through the POST request! 
                the input tag name question_text is the identifier in the POST request. 
                You can see this in the 'create' view when we are accessing the request data: request.POST.get('question_text')
                If we changed the name here to: question_text_test_abc we would have to change that 
                code to: request.POST.get('question_text_test_abc')
              -->
              <input
                type="text"
                name="question_text"
                id="question_text"
                placeholder="Add a new question"
                class="form-control"
                required
              />
            </div>
            <!-- Submit button, analagous to <input type='submit' value="+ Add Poll" /> just different syntax!  -->
            <div class="formInput">
              <button class="btn btn-default" type="submit">+ Add Poll</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
