{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ task_list.list_title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'todo/task_list.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'todo/base.css' %}"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>{{ task_list.list_title }}</h1>
    <p>{{ task_list.list_description }}</p>
    <div class="wrapper">
      <div class="task-list">
        {% if tasks %} {% for task in tasks %}
        <div class="task">
          <h4 class="task-title">{{task.task_title}}</h4>
          <p class="do-by">{{task.do_by}}</p>
        </div>
        {% endfor %} {% else %}
        <p>No tasks have been created yet!</p>
        {% endif %}
      </div>
      <div class="input-group">
        <form
          class="form"
          action="/todo/{{ task_list.id }}/create"
          method="post"
        >
          <h3>Add New Task</h3>
          {% csrf_token %}
          <div class="formInput">
            <input
              type="text"
              name="task_title"
              id="task_title"
              placeholder="Add new task"
              class="form-control"
              required
            />
          </div>
          <div class="formInput">
            <input type="date" class="form-control" name="do_by" id="do_by" />
          </div>
          <div class="formInput">
            <button class="btn btn-default" type="submit">+ add task</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
